---
import Layout from "../Layout.astro";
import data from "../data/meta.json";
import updates from "../data/updates.json";
import { icons } from "feather-icons";
import type { FeatherIconNames } from "feather-icons";
const titlePurify = (str: string) =>
  encodeURIComponent(str.replace(/\s/g, "_"));
---

<Layout>
  <div id="page-1">
    <div class="profile">
      <div class="photo">
        <img src="/static/takaya-kobayashi.jpg" />
      </div>
      <h1>{data.name}</h1>
      <h2>a.k.a.&nbsp;{data.aka}</h2>
    </div>
    <div class="copy">
      <p>{data.copy}</p>
    </div>
    <div class="main-links">
      {
        data.mainLinks.map((link) => (
          <a class="link" href={link.href}>
            <i
              class="icon"
              style={{ position: "relative", top: 4 }}
              set:html={icons[link.fa as unknown as FeatherIconNames]?.toSvg({
                width: 28,
                height: 28,
              })}
            />
            {link.name}
          </a>
        ))
      }
    </div>
  </div>
  <div id="page-2">
    <div class="links">
      <h3>
        <span>Links</span>
      </h3>
      <div class="link-grid">
        {
          data.links.map((link) => (
            <a class="link" href={link.href}>
              <i
                class="icon"
                style={{ position: "relative", top: 2 }}
                set:html={icons[link.fa as unknown as FeatherIconNames]?.toSvg({
                  width: 24,
                  height: 24,
                })}
              />
              <span>{link.name}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div id="page-3">
    <div class="links">
      <h3>
        <span>Recent Articles</span>
      </h3>
      <div class="update-container">
        {
          updates.articles.map((article) => (
            <a
              href={`https://w.kbys.tk/pages/${titlePurify(article.title)}`}
              class="update-link link"
            >
              <div>{article.title}</div>
              <div>{new Date(article.created).toLocaleDateString('ja-jp')}</div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div id="page-4">
    <div class="links">
      <h3>
        <span>Recent Clips</span>
      </h3>
      <div class="update-container">
        {
          updates.clips.map((clip) => (
            <a
              href={`https://w.kbys.tk/pages/${titlePurify(clip.title)}`}
              class="update-link link"
            >
              <div>{clip.title}</div>
              <div>{new Date(clip.created).toLocaleDateString('ja-jp')}</div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div id="page-5">
    <div class="links">
      <h3>
        <span>More Info</span>
      </h3>
      <div class="update-container">
        <a href="https://w.kbys.tk/pages/jgs" class="update-link link">
          <div>About me (ja)</div>
        </a>
      </div>
    </div>
  </div>
</Layout>
